@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto-Light.ttf)
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

.top-container {
    background-color: #1F2937;
    padding: 20px 300px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-body-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 100px;
    
}
img {
    height: auto;
    width: 475px;
    margin-left:5px;
}
.left-body {
     max-width: 500px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.top-subtext {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}


a {
    text-decoration: none;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: bold;
    border: none; 
    border-radius: 5px;
    padding: 7px 25px;
}

.second-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.imagedesc {
    font-size: 18px;
    color: #747474;
}


.quote-container {
    background-color: #E5E7EB;
    padding: 100px 350px 100px;
}

.quote-text {
    font-family: roboto-light, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
}

.action-title {
    font-weight: bold;
    font-size: 25px;
}

.action-container {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 40px 100px;
    margin: 75px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-container button {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB
}
